* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
display: flex;
background-color: black;
justify-content: space-around;
align-items: center;
padding: 10px;
border-bottom: 12px ridge black;
margin-bottom: 45px;
}

.ul1{
    list-style: none;
    text-decoration: unset;
    color: red;
    font-size: 22px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    }
a{
    text-decoration: unset;
    
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-decoration: unset;
  
}

ul{
    padding: 30px;
    text-decoration: none;
}
.logo{
     height: 80px; 
}
.logo img {
width: 100px; 
height: 100px;
}
.produtos{
border: 3px solid black;
margin: 30px;


}
.container-produtos {
    display: flex;
    justify-content: center;
    text-align: center;    
}
footer{
    display: flex;
    justify-content: cente;
    position: relative;
    bottom: 0;
    background-color: black;
    color: RED;
    width: 100%;
    height: 50px;    
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .ul1{
        font-size: 10px;
    }
.header{
    margin-bottom: 25px;
}
ul{
padding: 10px;
}
    .navegacao{
        padding: 10px;
    }
}

/* 
.wrapperHeader{
    position: relative;
    background-image:img/logo.png; */
    

/* .header{
    left: 50%;
    margin: left 0;
    background:black no-repeat;
     width:max-content

    height:180px;
    
} */

    

